body {
    text-align: center;
    background-image: url(minecraft-background.jpeg);
    background-size:cover;
    font-family: "pf-pixelscript", sans-serif;
}

h1 {
    font-family: "pf-pixelscript", sans-serif;
    font-size:60px;
    color:rgb(0, 72, 160);
}
