body {
    background-color:lavenderblush;
    color:rgb(196, 130, 234);
    font-style:italic;
    font-family:sans-serif;
    font-weight:normal;
    margin:30px;
}

h1 {
    text-align:center;
    font-size:60px;
}